<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "de-de" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style type=text/css>body{font-family:monospace;}</style>
	<title>{{ .Title }}</title>
	<meta property="og:description" content="{{if .Description}}{{ .Description }}{{else if .Site.Params.description }}{{ .Site.Params.Description }} {{ else }}fallback{{ end }}">
	<meta name="theme-color" content="#ff8080"/>
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ .Title }}"/>
	<meta property="og:site_name" content="{{ .Site.Params.url }}" />
	{{ with .Site.Params.author }}<meta property="og:author" content="{{ . }}">{{ end }}
	<meta property="og:url" content="{{ .Site.Params.url }}"/>
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	{{ range .Site.Params.customCSS -}}
		<link rel="stylesheet" href="{{ . | relURL }}?rnd={{ now.Unix }}">
	{{- end }}
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>
