<footer>
	<p><span class="copyleft">&copy;</span> 2019-{{ now.Year }} <a href="{{ .Site.BaseURL }}"><b>{{ if .Site.Copyright }}{{ .Site.Copyright }}{{ else }}{{ .Site.Title }}{{ end }}</b></a>.
	{{- range .Site.Menus.footer }}
	<a href="{{ .URL }}"><b>{{ .Name }}</b></a>.
        {{- end }}
	</p>
	<a href="https://webring.xxiivv.com"><img id="webring" src="https://webring.xxiivv.com/icon.black.svg"></a> <a href="https://neocities.org"><img id="neocities" src="/../buttons/neocities_2021_88x31.jpg"></a>
</footer>
