<header>
	<div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
	<p>
	<nav>
		<a id="title" href="{{ .Site.BaseURL }}"><img id="logo" src="/logo.svg"></img>{{ .Site.Title }}</a><br>
			<a id="navpoint" href="/"><b>Home</b></a>
			{{ with .Site.Menus.main }}
			{{ range . }}
			<a id="navpoint" href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>
			{{ end }}
	</nav>
	</p>
	{{ end }}
</header>
